<ion-content>


    <div class="header">

        <div class="HolaCamila">
            Hola, Camila
        </div>

        <div class="notification"></div>

    </div>

    <div class="invest-card ">

        <div class="value-card">
            <div class="eres-estratega">Eres estratega</div>
            <div class="tu-saldo">Tu saldo</div>
            <div class="tu-saldo-value">$1.570.000</div>
        </div>

        <div class="ahorro-img"></div>

    </div>

    <div class="invest-summary">

        <div class="frame58">
            <div class="value-status">
                <span class="text">-$30.000</span>
            </div>
            <div class="type-date">
                <span class="text">Rendimiento</span>
            </div>
        </div>

        <div class="divider"></div>

        <div class="frame55">
            <div class="value-status">
                <span class="text">$1.600.000</span>
            </div>

            <div class="type-date">
                <span class="text">Inversión</span>
            </div>

        </div>

    </div>


    <div class="tus-metas">
        Tus metas
    </div>
    <div class="add-circle-outline"></div>


    <div class="goal-view1">
        <div class="data">
            <div class="invest-donut"></div>
            <span class="blue-text">$1.630.000</span>
            <span class="purple-text">$8.000.000</span>
        </div>
        <div class="vector"></div>
        <span class="viaje-canarias">Viaje a Islas Canarias</span>
        <div class="img"></div>
    </div>

    <div class="goal-view2">
        <div class="data">
            <div class="invest-donut"></div>
            <span class="blue-text">$0</span>
            <span class="purple-text">$7.000.000</span>
        </div>
        <div class="vector"></div>
        <span class="macbook">Macbook Pro</span>
        <div class="img"></div>
    </div>

    <div class="tu-portafolio">
        Conoce tu portafolio
    </div>
    <div class="status">
        <span class="estratega">Estratega</span>
    </div>

    <div class="portafolio-view">
        <div class="frame74"></div>
        <div class="frame73"></div>
        <span class="text">Tu dinero se invierte de la forma más eficiente de acuerdo al perfil de riesgo asignado por nuestro RoboAdvisor</span>
        <div class="frame28"></div>
        <div class="portafolio-holding-donut"></div>
    </div>

    <div class="los-del-ahorro">Los P*t@s del ahorro</div>

    <div class="media-home"></div>

    <div class="counter"></div>

    <div class="blog-home">
        <div class="preview1">
            <div class="img"></div>
            <div class="frame42">
                <span class="titulo">10 gastos que debes evitar</span>
                <span class="text">Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.</span>
            </div>
        </div>
        <div class="preview2"></div>
        <div class="preview3"></div>
    </div>
</ion-content>