<div class="container">
    <div class="header">

        <div class="HolaCamila">
            Hola, Camila
        </div>

        <div class="notification"></div>

    </div>

    <div class="invest-card ">

        <div class="value-card">
            <div class="eres-estratega">Eres estratega</div>
            <div class="tu-saldo">Tu saldo</div>
            <div class="tu-saldo-value">$1.570.000</div>
        </div>

        <div class="ahorro-img"></div>

    </div>

    <div class="invest-summary">

        <div class="frame58">
            <div class="value-status">
                <span class="text">-$30.000</span>
            </div>
            <div class="type-date">
                <span class="text">Rendimiento</span>
            </div>
        </div>

        <div class="divider"></div>

        <div class="frame55">
            <div class="value-status">
                <span class="text">$1.600.000</span>
            </div>

            <div class="type-date">
                <span class="text">Inversión</span>
            </div>

        </div>

    </div>

</div>